[Unit]
Description=zookeeper
After=network.target

[Service]
Type=forking
Environment=ZOO_LOG_DIR=/data/zookeeper/log
ExecStart=/opt/software/zookeeper-3.4.11/bin/zkServer.sh start
ExecStop=/opt/software/zookeeper-3.4.11/bin/zkServer.sh stop
Restart=always
User=zookeeper
Group=zookeeper

[Install]
WantedBy=multi-user.target
